:root {
  --system-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --monospaceTf:ui-monospace, 'Andale Mono', 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --humanistTf:Seravek, Calibri, 'Gill Sans Nova', Roboto, Ubuntu, 'DejaVu Sans', source-sans-pro, sans-serif;
  --sansTf:-ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI Variable', 'Segoe UI', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Liberation Sans', Arial, sans-serif;
  --modernTf:Athelas, Constantia, Charter, 'Bitstream Charter', Cambria, 'Georgia Pro', Georgia, serif;
  --oldStyleTf:'Iowan Old Style', Sitka, 'Sitka Text', Palatino, 'Book Antiqua', 'URW Palladio L', P052, serif;

  --japaneseFontFamily:yugothic, "Hiragino Maru Gothic ProN", "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "MS Gothic", roboto, noto, "Noto Sans CJK JP", sans-serif;
  --serif-ja:"Hiragino Mincho ProN", "Hiragino Mincho Pro", "YuMincho", "BIZ UDPMincho", "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  --sans-serif-ja:"Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ W3", "YuGothic", "Yu Gothic Medium", "BIZ UDPGothic", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --serif-ja-v:"Hiragino Mincho ProN", "Hiragino Mincho Pro", "YuMincho", "BIZ UDMincho", "Yu Mincho", "ＭＳ明朝", "MS Mincho", serif;
  --sans-serif-ja-v:"Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ W3", "YuGothic", "Yu Gothic Medium", "BIZ UDGothic", "Yu Gothic", "ＭＳゴシック", "MS Gothic", sans-serif;
  
  --koreanFontFamily:"Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic", roboto, noto, "Noto Sans CJK KR", sans-serif;

  --chineseFontFamily:"方体", "PingFang SC", "黑体", "Heiti SC", "Microsoft JhengHei UI", "Microsoft JhengHei", roboto, noto, "Noto Sans CJK SC", sans-serif;
  --taiwanFontFamily:"方體", "PingFang TC", "黑體", "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", roboto, noto, "Noto Sans CJK TC", sans-serif;
  --hongkongFontFamily:"方體", "PingFang HK", "方體", "PingFang TC", "黑體", "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", roboto, noto, "Noto Sans CJK TC", sans-serif;

  --lineHeightCompensation:1;
  --readiumLineHeight:calc(1.5 * var(--RS__lineHeightCompensation));
  --reader-font-family: serif;
  --reader-font-size: 16px;
  --reader-font-weight: normal;
  --reader-line-height: 1.2;
  --viewport-width: 1000px;
  overflow: hidden;
  overscroll-behavior: none;
}

.modal {
  --bs-body-bg: rgba(var(--bs-body-bg-rgb), 0.25);
  --bs-secondary-bg: rgba(var(--bs-secondary-bg-rgb), 0.25);
}

.modal-content {
  min-height: 492px;
}

.modal-content,
.modal-content .dropdown-menu {
  backdrop-filter: blur(8px);
}

.reader-theme-toggle .bi,
.translator-toggle .bi {
  width: 1em;
  height: 1em;
}

.reader-theme-toggle .dropdown-menu .active .bi,
.translator-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.modal.fade .modal-dialog {
  transform: unset;
}

.viewport {
  max-width: var(--viewport-width);
}

.combined-navbar {
  bottom: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.25rem 0.125rem;
  left: 0.4rem;
  right: 0.4rem;
}

.navbar-scroller .row {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap !important;
  scrollbar-width: none;
  overflow-y: hidden;
  white-space: nowrap;
}

.smaller-navbar .row {
  height: 1.375em;
}

.language-select-col {
  --bs-gutter-x: 0.75rem;
}

.translate-button-col {
  --bs-gutter-x: 0.75rem;
  max-width: 4.044em;
}

.textarea > .form-control {
  height: 100vh;
  font: var(--reader-font-weight) var(--reader-font-size)/var(--reader-line-height) var(--reader-font-family);
  padding: 10px 10px 5.55rem;
  text-align: var(--reader-text-align);
  width: 100vw;
}

.textarea > div.form-control {
  overflow-y: auto;
}

body:not(.bg-body) .textarea > .form-control,
body:not(.bg-body) .textarea > .form-control::placeholder {
  color: var(--reader-color);
}

.textarea > .form-control > p {
  margin-bottom: 0;
}

.textarea > .form-control > p > i {
  font: italic normal var(--reader-font-size)/var(--reader-line-height) var(--oldStyleTf), '方体', 'PingFang SC', '方體', 'PingFang TC', 'PingFang HK', '黑体', 'Heiti SC', '黑體', 'Heiti TC', 'Microsoft JhengHei UI', 'Microsoft JhengHei', yugothic, 'Hiragino Maru Gothic ProN', 'Hiragino Sans', 'Yu Gothic UI', 'Meiryo UI', 'MS Gothic', 'Nanum Gothic', 'Apple SD Gothic Neo', 'Malgun Gothic', roboto, noto, 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Noto Sans CJK JP', 'Noto Sans CJK KR', sans-serif;
}

.textarea.bold-text > .form-control {
  --reader-font-weight: bold !important;
}
